In [216]:
import os
import glob
import shutil

import pandas as pd

In [205]:
wrk_dir=os.getcwd()
os.chdir(f"{wrk_dir}/data/old/raw")
file_lst=[f"{os.getcwd()}/{file}" for file in glob.glob("*.csv")]
os.chdir(wrk_dir)

In [174]:
df = pd.read_csv(file_lst[0], index_col=0)

In [175]:
df

,conf,currYr,label,source,value,year,unit
0,96.0,1.0,Notes,Notes 2017 2016,2017,2017.0,£
1,96.0,0.0,Notes,Notes 2017 2016,2016,2016.0,£
2,96.0,1.0,Tangible assets,Tangible assets 2 405125 873945,405125,2017.0,£
3,44.0,0.0,Tangible assets,Tangible assets 2 405125 873945,873945,2016.0,£
4,95.0,1.0,Debtors,Debtors 3 875 2447,875,2017.0,£
5,96.0,0.0,Debtors,Debtors 3 875 2447,2447,2016.0,£
6,96.0,1.0,Creditors amounts falling due within one year,Creditors amounts falling due within one year ...,7662,2017.0,£
7,62.0,0.0,Creditors amounts falling due within one year,Creditors amounts falling due within one year ...,18877,2016.0,£
8,96.0,1.0,Net current liabilities Sip es,Net current liabilities Sip es 3334 16430,3334,2017.0,£
9,96.0,0.0,Net current liabilities Sip es,Net current liabilities Sip es 3334 16430,16430,2016.0,£
10,95.0,1.0,Total assets less current liabilities se . oar,Total assets less current liabilities se . oa...,401791,2017.0,£
11,84.0,0.0,Total assets less current liabilities se . oar,Total assets less current liabilities se . oa...,857515,2016.0,£
12,96.0,1.0,Creditors amounts falling due after more than ...,after more than one year 5 342283 774192,342283,2017.0,£
13,96.0,0.0,Creditors amounts falling due after more than ...,after more than one year 5 342283 774192,774192,2016.0,£
14,96.0,1.0,Provisions for liabilities,Provisions for liabilities 10607 13694,10607,2017.0,£
15,96.0,0.0,Provisions for liabilities,Provisions for liabilities 10607 13694,13694,2016.0,£
16,96.0,1.0,Net assets,Net assets 48901 69629,48901,2017.0,£
17,93.0,0.0,Net assets,Net assets 48901 69629,69629,2016.0,£
18,96.0,1.0,Cailed up share capital,Cailed up share capital 100 100,100,2017.0,£
19,96.0,0.0,Cailed up share capital,Cailed up share capital 100 100,100,2016.0,£
20,96.0,1.0,Revaluation reserve,Revaluation reserve 7 105106 120019,105106,2017.0,£
21,94.0,0.0,Revaluation reserve,Revaluation reserve 7 105106 120019,120019,2016.0,£
22,96.0,1.0,Profit and loss account,Profit and loss account 56305 50490,56305,2017.0,£
23,96.0,0.0,Profit and loss account,Profit and loss account 56305 50490,50490,2016.0,£

In [179]:
df = df.drop(["source","currYr"], axis=1).melt(id_vars=["year", "label"])

In [206]:
df_lst = []
for file in file_lst:
    df_lst.append(pd.read_csv(file, index_col=0))

    df_lst[-1] = df_lst[-1].drop(["source","currYr"], axis=1)
    df_lst[-1]["file_name"] = file.rsplit("/")[-1].split(".")[0]

In [209]:
all_df = pd.concat(df_lst)

In [210]:
all_df["label"] = all_df["label"].str.lower()

In [211]:
all_df

,conf,label,value,year,unit,file_name
0,96.0,notes,2017,2017.0,£,05457103_2018-08-10
1,96.0,notes,2016,2016.0,£,05457103_2018-08-10
2,96.0,tangible assets,405125,2017.0,£,05457103_2018-08-10
3,44.0,tangible assets,873945,2016.0,£,05457103_2018-08-10
4,95.0,debtors,875,2017.0,£,05457103_2018-08-10
5,96.0,debtors,2447,2016.0,£,05457103_2018-08-10
6,96.0,creditors amounts falling due within one year,7662,2017.0,£,05457103_2018-08-10
7,62.0,creditors amounts falling due within one year,18877,2016.0,£,05457103_2018-08-10
8,96.0,net current liabilities sip es,3334,2017.0,£,05457103_2018-08-10
9,96.0,net current liabilities sip es,16430,2016.0,£,05457103_2018-08-10
10,95.0,total assets less current liabilities se . oar,401791,2017.0,£,05457103_2018-08-10
11,84.0,total assets less current liabilities se . oar,857515,2016.0,£,05457103_2018-08-10
12,96.0,creditors amounts falling due after more than ...,342283,2017.0,£,05457103_2018-08-10
13,96.0,creditors amounts falling due after more than ...,774192,2016.0,£,05457103_2018-08-10
14,96.0,provisions for liabilities,10607,2017.0,£,05457103_2018-08-10
15,96.0,provisions for liabilities,13694,2016.0,£,05457103_2018-08-10
16,96.0,net assets,48901,2017.0,£,05457103_2018-08-10
17,93.0,net assets,69629,2016.0,£,05457103_2018-08-10
18,96.0,cailed up share capital,100,2017.0,£,05457103_2018-08-10
19,96.0,cailed up share capital,100,2016.0,£,05457103_2018-08-10
20,96.0,revaluation reserve,105106,2017.0,£,05457103_2018-08-10
21,94.0,revaluation reserve,120019,2016.0,£,05457103_2018-08-10
22,96.0,profit and loss account,56305,2017.0,£,05457103_2018-08-10
23,96.0,profit and loss account,50490,2016.0,£,05457103_2018-08-10
0,68.0,note,0,2017.0,£000,06757157_2018-08-15
1,91.0,note,0,2016.0,£000,06757157_2018-08-15
2,96.0,tangible assets,33,2017.0,£000,06757157_2018-08-15
3,96.0,tangible assets,31,2016.0,£000,06757157_2018-08-15
4,96.0,stocks .,7021,2017.0,£000,06757157_2018-08-15
5,96.0,stocks .,5460,2016.0,£000,06757157_2018-08-15
...,...,...,...,...,...,...
6,96.0,cash at bank and in hand,32300,2018.0,£,08955915_2018-12-27
7,95.0,cash at bank and in hand,86195,2017.0,£,08955915_2018-12-27
8,92.0,creditors amounts falling due within one year i,189136,2018.0,£,08955915_2018-12-27
9,94.0,creditors amounts falling due within one year i,118059,2017.0,£,08955915_2018-12-27
10,95.0,net current assets,68223,2018.0,£,08955915_2018-12-27
11,96.0,net current assets,144044,2017.0,£,08955915_2018-12-27
12,95.0,total assets less current liabilities,275874,2018.0,£,08955915_2018-12-27
13,96.0,total assets less current liabilities,211482,2017.0,£,08955915_2018-12-27
14,96.0,creditors amounts falling due after more than ...,110154,2018.0,£,08955915_2018-12-27
15,78.0,creditors amounts falling due after more than ...,16052,2017.0,£,08955915_2018-12-27
16,95.0,provisions for liabilities,9871,2018.0,£,08955915_2018-12-27
17,64.0,provisions for liabilities,13487,2017.0,£,08955915_2018-12-27
18,41.0,net assets,155849,2018.0,£,08955915_2018-12-27
19,95.0,net assets,181943,2017.0,£,08955915_2018-12-27
20,96.0,called up share carital,2500,2018.0,£,08955915_2018-12-27
21,95.0,called up share carital,2500,2017.0,£,08955915_2018-12-27
22,96.0,profit and loss account,153349,2018.0,£,08955915_2018-12-27
23,95.0,profit and loss account,179443,2017.0,£,08955915_2018-12-27
0,96.0,amounts owed by group undertakings,2,2018.0,£,00562498_2018-12-19
1,96.0,amounts owed by group undertakings,2,2017.0,£,00562498_2018-12-19
2,96.0,allotted called up and fully paid ordinary sha...,2,2018.0,£,00562498_2018-12-19
3,97.0,allotted called up and fully paid ordinary sha...,2,2017.0,£,00562498_2018-12-19
4,97.0,shareholders funds,2,2018.0,£,00562498_2018-12-19
5,96.0,shareholders funds,2,2017.0,£,00562498_2018-12-19
0,96.0,at cost,6000,2017.0,"£6,000",04154504_2018-07-03
1,96.0,at cost,6000,2016.0,"£6,000",04154504_2018-07-03
2,96.0,net assets,6000,2017.0,"£6,000",04154504_2018-07-03
3,96.0,net assets,6000,2016.0,"£6,000",04154504_2018-07-03
4,96.0,other reserves,6000,2017.0,"£6,000",04154504_2018-07-03
5,96.0,other reserves,6000,2016.0,"£6,000",04154504_2018-07-03

In [213]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8360 entries, 0 to 5
Data columns (total 6 columns):
conf         8360 non-null float64
label        8360 non-null object
value        8360 non-null int64
year         8360 non-null float64
unit         8360 non-null object
file_name    8360 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 457.2+ KB

In [214]:
all_df.to_csv(f"{os.getcwd()}/data/old/processed/concat_data.csv")